<div class="card-modal">
  <div class="card border-secondary">
    <div class="card-header">
      {{ "editor.action.action" | translate }}
    </div>

    <div class="card-body">
      <app-action-trigger
        [trigger]="actionTrigger"
        [listHandle]="false"
      ></app-action-trigger>
    </div>

    <div class="card-footer">
      <div class="d-flex float-right">
        <a
          class="mr-3 my-auto"
          href="#"
          role="button"
          (click)="cancel(); (false)"
        >
          {{ "misc.cancel" | translate }}
        </a>
        <button type="button" class="btn btn-primary" (click)="ok(); (false)">
          {{ "misc.ok" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
