<div class="form-group row">
  <label class="col-md-3 col-form-label">{{
    "settings.midi-control-action" | translate
  }}</label>
  <div class="col-md-9">
    <select
      class="custom-select"
      [ngModel]="trigger.action"
      (ngModelChange)="trigger.action = $event"
    >
      <option *ngFor="let midiAction of midiActionList" [ngValue]="midiAction">
        {{ "settings.midi-control-enum." + midiAction | translate }}
      </option>
    </select>
  </div>
</div>
<div
  class="form-group row"
  *ngIf="
    actionTriggerMidi.action == 'SELECT_COMPOSITION_BY_NAME' ||
    actionTriggerMidi.action == 'SELECT_COMPOSITION_BY_NAME_AND_PLAY'
  "
>
  <label class="col-md-3 col-form-label">{{
    "settings.midi-control-select-composition" | translate
  }}</label>
  <div class="col-md-9">
    <select
      class="custom-select"
      [ngModel]="actionTriggerMidi.compositionName"
      (ngModelChange)="actionTriggerMidi.compositionName = $event"
    >
      <option [ngValue]="selectUndefinedOptionValue">
        - {{ "settings.no-composition" | translate }} -
      </option>
      <option
        *ngFor="let composition of compositions"
        [ngValue]="composition.name"
      >
        {{ composition.name }}
      </option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-3 col-form-label"></label>
  <div class="col-md-9">
    <div class="form-check">
      <input
        type="checkbox"
        [ngModel]="trigger.executeLocally"
        (ngModelChange)="trigger.executeLocally = $event"
        class="form-check-input"
        id="execLoc_{{ i }}"
      />

      <label class="form-check-label" for="execLoc_{{ i }}">
        {{ "settings.midi-control-exec-locally" | translate }}
      </label>
    </div>
  </div>
</div>
<div class="form-group row mb-2">
  <label class="col-md-3 col-form-label">{{
    "routing.remote-devices" | translate
  }}</label>
  <div class="col-md-9">
    <div class="card border-secondary mb-0">
      <div class="card-body">
        <app-remote-device-selection
          [remoteDeviceList]="trigger.remoteDeviceList"
        ></app-remote-device-selection>
      </div>
    </div>
  </div>
</div>
<div class="form-group row mb-2 mt-3">
  <label class="col-md-3 col-form-label"></label>
  <div class="col-md-9">
    <a
      href="#"
      class="btn btn-primary btn-sm"
      (click)="testControl(actionTriggerMidi); (false)"
    >
      <i class="fa fa-flask" aria-hidden="true"></i>
      {{ "settings.midi-control-test" | translate }}</a
    >
  </div>
</div>
