<div class="form-group row">
  <div class="col-md-12">
    <div
      class="list-group"
      [sortablejs]="action.lightingActionUniverseList"
      [sortablejsOptions]="{ onMove: sortMove }"
      >
      @for (
        lightingActionUniverse of action.lightingActionUniverseList; track
        lightingActionUniverse; let i = $index) {
        <div
          class="list-group-item"
          >
          <div class="form-group row">
            <label class="col-md-3 col-form-label">{{
              "action.lighting.universe-name" | translate
            }}</label>
            <div class="col-md-9">
              <select class="custom-select" [(ngModel)]="lightingActionUniverse.universeUuid">
                @for (lightingUniverse of lightingUniverseList; track lightingUniverse.uuid) {
                  <option [value]="lightingUniverse.uuid">
                    {{ lightingUniverse.name }}
                  </option>
                }
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">{{
              "action.lighting.channel-value" | translate
            }}</label>
            <div
              class="col-md-9"
              [sortablejs]="lightingActionUniverse.channelValueList"
              [sortablejsOptions]="{ onMove: sortMove }"
              >
              @for (
                channelValue of lightingActionUniverse.channelValueList; track
                channelValue; let i = $index) {
                <div
                  class="form-group row"
                  >
                  <div class="col-md-1 d-flex">
                    <div
                      class="flex-grow-1 list-sort-handle my-auto"
                      style="cursor: move; cursor: -webkit-grabbing"
                      >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <select
                      class="custom-select"
                      [(ngModel)]="channelValue.channel"
                      >
                      @for (channel of channelList; track channel) {
                        <option
                          value="{{ channel }}"
                          >
                          {{ channel + 1 }}
                        </option>
                      }
                    </select>
                  </div>
                  <div class="col-md-5">
                    <select class="custom-select" [(ngModel)]="channelValue.value">
                      @for (value of valueList; track value) {
                        <option value="{{ value }}">
                          {{ value }}
                        </option>
                      }
                    </select>
                  </div>
                  <div class="col-md-1 d-flex pl-0">
                    <a
                      class="my-auto text-danger"
                      href="#"
                      role="button"
                      (click)="deleteChannel(lightingActionUniverse, i); (false)"
                      >
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              }
              <a
                href="#"
                (click)="addChannel(lightingActionUniverse); (false)"
                class="no-sortjs list-group-item text-center"
                >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ "action.add" | translate }}
              </a>
            </div>
          </div>
          <!-- Move/delete -->
          <div class="form-group row">
            <div class="col-md-12 d-flex">
              <div
                class="flex-grow-1 list-sort-handle my-auto"
                style="cursor: move; cursor: -webkit-grabbing"
                >
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <div class="ml-auto">
                <a
                  class="mr-3 my-auto text-danger"
                  href="#"
                  role="button"
                  (click)="deleteUniverse(i); (false)"
                  >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  {{ "misc.delete" | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      }
      <a
        href="#"
        (click)="addUniverse(); (false)"
        class="no-sortjs list-group-item text-center"
        >
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ "action.add" | translate }}
      </a>
    </div>
  </div>
</div>
