<div class="form-group row">
  <div class="col-lg-12">
    <div
      class="list-group"
      [sortablejs]="settings?.actionTriggerRaspberryGpioList"
      [sortablejsOptions]="{ onMove: sortMove }"
    >
      <div
        class="list-group-item"
        *ngFor="
          let actionTriggerRaspberryGpio of settings?.actionTriggerRaspberryGpioList;
          let i = index
        "
      >
        <app-action-trigger
          [index]="i"
          (delete)="deleteActionTrigger($event)"
          [trigger]="actionTriggerRaspberryGpio"
          (change)="onTriggerChange($event)"
        ></app-action-trigger>
      </div>
      <a
        href="#"
        (click)="addActionTrigger(); (false)"
        class="no-sortjs list-group-item text-center"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ "settings.midi-control-add" | translate }}
      </a>
    </div>
  </div>
</div>
