<app-particle-background></app-particle-background>

<div class="container d-flex h-100">
  <div class="row m-auto">
    <div class="col-xl">
      <div class="d-flex flex-column">
        <img class="pb-2 mx-auto" src="assets/img/icon.png" alt="icon" width="100px">

        <div class="setup-wizard card border-secondary text-center">

          <!-- Header-Image -->
          <img class="card-img-top" src="assets/img/intro_title.jpg" alt="Card image cap">

          <!-- Language -->
          <div class="card-body" *ngIf="currentStep === 1">
            <h4 class="card-title mb-2">
              {{ 'intro.step-1-title' | translate }}
            </h4>

            <div class="form-group mb-0">
              <label for="selectLang" class="font-weight-semibold">
                {{ 'intro.welcome-language' | translate }}
              </label>
              <select id="selectLang" name="selectLang" class="custom-select" [ngModel]="language"
                (ngModelChange)="switchLanguage($event)">
                @for (language of settingsService?.languages; track language) {
                <option [ngValue]="language.key">{{ language.name }}</option>
                }
              </select>
            </div>
          </div>

          <!-- Device name -->
          <div class="card-body" *ngIf="currentStep === 2">
            <h4 class="card-title text-center mb-2">
              {{ 'intro.step-2-title' | translate }}
            </h4>

            <div class="form-group mb-0">
              <label for="deviceNameInput" class="font-weight-semibold">
                {{ 'intro.name-unit' | translate }}
              </label>
              <input #deviceNameInput id="deviceNameInput" name="deviceName" type="text" class="form-control"
                [(ngModel)]="deviceName" placeholder="{{ 'intro.default-unit-name' | translate }}">
            </div>
          </div>

          <!-- Admin password -->
          <div class="card-body" *ngIf="currentStep === 3">
            <h4 class="card-title text-center mb-2">
              {{ 'intro.step-3-title' | translate }}
            </h4>

            <div class="form-group mb-0">
              <input name="password1" type="password" class="form-control mb-3" [(ngModel)]="adminPassword1"
                placeholder="{{ 'intro.password' | translate }}" (ngModelChange)="passwordsDontMatch = false">

              <input name="password2" type="password" class="form-control" [(ngModel)]="adminPassword2"
                placeholder="{{ 'intro.password-repeat' | translate }}" (ngModelChange)="passwordsDontMatch = false">
            </div>

            @if(passwordsDontMatch) {
            <div class="alert alert-danger mt-3 mb-0">
              {{ 'login.error-no-match' | translate }}
            </div>
            }
          </div>

          <!-- Disable hotspot or set password -->
          <div class="card-body" *ngIf="currentStep === 4">
            <h4 class="card-title text-center mb-2">
              {{ 'intro.step-4-title' | translate }}
            </h4>

            <div class="btn-group mt-3">
              <label class="btn btn-secondary" [class.active]="wifiApEnabled === true">
                <input type="radio" name="wifiApEnabled" [value]="true" [(ngModel)]="wifiApEnabled"
                  autocomplete="off" />
                {{ "intro.wifi-ap-activated" | translate }}
              </label>

              <label class="btn btn-secondary" [class.active]="wifiApEnabled === false">
                <input type="radio" name="wifiApDeactivated" [value]="false" [(ngModel)]="wifiApEnabled"
                  autocomplete="off" />
                {{ "intro.wifi-ap-deactivated" | translate }}
              </label>
            </div>

            @if (wifiApEnabled) {
            <p class="pt-3">{{ 'intro.suggest-disable-hotspot' | translate }}</p>

            <div class="form-check pb-3">
              <input name="wifi-ap-password" type="checkbox" [(ngModel)]="wifiApPasswordSame" class="form-check-input"
                id="wifiApSame" />
              <label class="form-check-label" for="wifiApSame">
                {{ "intro.wifi-ap-same-pw" | translate }}
              </label>
            </div>

            @if(wifiApPasswordSame) {
            <p class="p-0 m-0">{{ 'intro.wifi-ap-same-pw-warning' | translate }}</p>
            }

            @if(!wifiApPasswordSame) {
            <div class="form-group mb-0">
              <input name="password1" type="password" class="form-control mb-3" [(ngModel)]="wifiApPassword1"
                placeholder="{{ 'intro.password' | translate }}" (ngModelChange)="wifiApPasswordsDontMatch = false">

              <input name="password2" type="password" class="form-control" [(ngModel)]="wifiApPassword2"
                placeholder="{{ 'intro.password-repeat' | translate }}"
                (ngModelChange)="wifiApPasswordsDontMatch = false">
            </div>
            }

            @if(wifiApPasswordsDontMatch) {
            <div class="alert alert-danger mt-3 mb-0">
              {{ 'login.error-no-match' | translate }}
            </div>
            }
            }

          </div>

          <!-- Secured connection -->
          <div class="card-body" *ngIf="currentStep === 5">
            <h4 class="card-title text-center mb-2">
              {{ 'intro.step-5-title' | translate }}
            </h4>

            <div class="btn-group mt-3">
              <label class="btn btn-secondary" [class.active]="tlsEnable === true">
                <input type="radio" name="tlsEnabled" [value]="true" [(ngModel)]="tlsEnable" autocomplete="off" />
                {{ "intro.tls-enabled" | translate }}
              </label>

              <label class="btn btn-secondary" [class.active]="tlsEnable === false">
                <input type="radio" name="tlsDisabled" [value]="false" [(ngModel)]="tlsEnable" autocomplete="off" />
                {{ "intro.tls-disabled" | translate }}
              </label>
            </div>

            @if (tlsEnable) {
            <p class="pt-3 mb-0">{{ 'misc.enable-tls-info' | translate }}</p>
            }

            @if (!tlsEnable) {
            <p class="pt-3 mb-0">{{ 'intro.suggest-enable-tls' | translate }}</p>
            }

          </div>

          <!-- Dots -->
          <div class="card-body px-3 pt-0 pb-3">
            <hr class="bg-secondary mt-0 pt-0">
            <div class="wizard-dots text-center">
              <button type="button" class="wizard-dot" [class.active]="currentStep === 1" (click)="goToStep(1)"
                aria-label="Go to step 1">
              </button>
              <button type="button" class="wizard-dot" [class.active]="currentStep === 2" (click)="goToStep(2)"
                aria-label="Go to step 2">
              </button>
              <button type="button" class="wizard-dot" [class.active]="currentStep === 3" (click)="goToStep(3)"
                aria-label="Go to step 3">
              </button>
              <button type="button" class="wizard-dot" [class.active]="currentStep === 4" (click)="goToStep(4)"
                aria-label="Go to step 4">
              </button>
              <button type="button" class="wizard-dot" [class.active]="currentStep === 5" (click)="goToStep(5)"
                aria-label="Go to step 5">
              </button>
            </div>
          </div>

          <!-- Footer-Navigation -->
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">

              <!-- Back -->
              <div>
                @if(currentStep > 1) {
                <button type="button" class="btn" (click)="prevStep()">
                  <i class="fa fa-chevron-left mr-1"></i>
                  {{ 'misc.nav-back' | translate }}
                </button>
                }
              </div>

              <!-- Right side -->
              <div>

                <!-- Skip button -->
                <!-- @if(currentStep === 4) {
                <button type="button" class="btn btn-link text-muted ml-2" (click)="skipStep()">
                  Skip for now
                </button>
                } -->

                @if(currentStep < 3) { <button type="button" class="btn btn-primary px-4" (click)="nextStep()">
                  {{ 'misc.nav-next' | translate }}
                  <i class="fa fa-chevron-right ml-1"></i>
                  </button>
                  }

                  @if(currentStep === 3) {
                  <button type="button" [disabled]="!adminPassword1 || !adminPassword2 || adminPassword1.length < 6"
                    class="btn btn-primary px-4" (click)="nextStepAdminPw()">{{ 'misc.nav-next' | translate }}
                  </button>
                  }

                  @if(currentStep === 4) {
                  <button type="button"
                    [disabled]="(wifiApEnabled && !wifiApPasswordSame && (!wifiApPassword1 || !wifiApPassword2 || wifiApPassword1.length < 6))"
                    class="btn btn-primary px-4" (click)="nextStepWifiApPw()">{{ 'misc.nav-next' | translate }}
                  </button>
                  }

                  @if(currentStep === 5) {
                  <button type="button" [disabled]="loading" class="btn btn-primary px-4" (click)="finish()">
                    @if (loading) {<i class="fa fa-spinner fa-pulse fa-fw"></i>}@if(!loading){<i class="fa fa-check"
                      aria-hidden="true"></i>} {{ 'misc.finish' | translate }}
                  </button>
                  }
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>