<div class="form-group row">
  <label class="col-md-3 col-form-label">{{
    "action.raspberry-gpio.pin" | translate
  }}</label>
  <div class="col-md-9">
    <select class="custom-select" [(ngModel)]="action.pinId">
      @for (pin of pinList; track pin) {
        <option value="{{ pin.id }}">
          {{ pin.displayText }}
        </option>
      }
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-3 col-form-label">{{
    "action.raspberry-gpio.status" | translate
  }}</label>
  <div class="col-md-9 d-flex">
    <input
      type="checkbox"
      [(ngModel)]="action.high"
      class="form-check my-auto mr-2"
      id="pinHigh_{{ uuid }}"
      />

    <label class="form-check-label my-auto" for="pinHigh_{{ uuid }}">
      {{ "action.raspberry-gpio.high" | translate }}
    </label>
  </div>
</div>
