.container {
    max-width: 540px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#login {
    box-shadow: var(--sd-shadow-3);
    max-width: 470px;
    width: 100%;
}

.card-img-top {
    height: 5rem;
    object-fit: cover;
}
